<% if entry %>
<tr id="<%= dom_id entry %>" class="text-center">
  <td>

    <%= entry.username %>
  </td>
  <td>

    <%= entry.name %>
  </td>

  <td>
    <%# entry.time_in.localtime.strftime(" %d/%m/%Y %I:%M %p")%>
    <%= entry.time_in%>
  </td>

  <td>

    <%= entry.time_out&.localtime&.strftime(" %d/%m/%Y %I:%M %p") %>
  </td>

  <td>

    <%= entry.mobile_phone %>
  </td>
  <% if logged_in?(session['username'],session['token']) %>
    <td>
      <%= link_to "Show this entry", entry %>
    </td>
  <% end %>
 </tr>
<% else %>
  <h1> NO LOG ENTRIES FOUND </h1>
<% end %>