<div class="container text-center">
<%= form_with(model: entry) do |form| %>
  <% if entry.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
        <% entry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="d-flex flex-column">
  <div class="flex-row">
    <%= form.label :username, style: "display: block" %>
    <%= form.text_field :username %>
  </div>

  <div class="flex-row">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div class="flex-row">
    <%= form.label :time_in, style: "display: block" %>
    <%= form.datetime_field :time_in,min:DateTime.now,value:DateTime.now.strftime('%FT%T') %>
  </div>

  <div class="flex-row">
    <%= form.label :time_out, style: "display: block" %>
    <%= form.datetime_field :time_out ,value:DateTime.now%>
  </div>

  <div class="flex-row">
    <%= form.label :mobile_phone, style: "display: block" %>
    <%= form.text_field :mobile_phone %>
  </div>

  <div class="flex-row">
    <%= form.submit %>
  </div>
  </div>
<% end %>
</div>