<!DOCTYPE html>
<html>
  <head>
    <title>Signing In Book</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>
  <nav class="nav">
    <a class="nav-link" href="<%= root_url %>">Home</a>
    <a class="nav-link" href="<%= url_for controller: "admins",action: "index" %>">Admins</a>
    <a class="nav-link" href="<%= url_for controller: "admins",action: "logout",method: :post %>">Logout</a>
    <%= link_to "Logout",:controller => :admins,action: :logout,method: :post %>

  </nav>
  <%= debug(params) if Rails.env == 'development' %>
    <%= yield %>
  </body>
</html>
